:root {
  --background: #13141a;
  --current-line: #282a36;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

/* Theme */
body {
    background-color: var(--background) !important;
    padding: 20px 0px;
    max-width: unset !important;
    hyphens: unset;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}
a {
    color: var(--orange) !important;
}

.markdown-body {
    color: var(--foreground);
    max-width: 900px;
    width: 90%;
    flex-grow: 1;
    background-color: var(--current-line);
    padding: 20px 5%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.markdown-body > :first-child{
    color: white; 
    border: none;
    text-align: center;
    font-size: 35px;
    margin-bottom: 0px;
}
.markdown-body p {
    line-height: 1.5em;
    margin-bottom: 1.2em;
}
.markdown-body h1,h2,h3,h4,h5 {
    color: var(--green);
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.markdown-body .centered {
    width:100%;
    text-align: center;
}
.markdown-body .centered img {
    width: 300px;
    max-width: 80%;
}
.markdown-body .centered figcaption {
    font-size: 2rem;
}


/* code indentation fix */

.markdown-body pre {
    overflow-x: scroll;
    padding: 10px !important;
}
.markdown-body pre span {
    white-space: pre !important;
}
.markdown-body pre code {
    white-space:pre !important;
}

/*Tags*/

.tags > :first-child{
    color: unset;
    border: unset;
    text-align: unset;
    font-size: unset;
    margin-bottom: unset;
}

.tags {
    margin-top: 10px;
    text-align: center;
    flex-grow: 0;
}

.tags a{
    color: var(--purple) !important;
    text-shadow:
        /* White glow */
        0 0 21px var(--purple),
        /* Green glow */
        0 0 82px #888,
        0 0 92px #000;
}

/* Footer theme */
footer {
    display: flex !important;
    justify-content: space-around;
    max-width: 900px;
    width: 90%;
    font-size: 16px;
    background-color: var(--current-line);
    color: var(--foreground);
    padding: 10px 5% !important;
    border-radius: 8px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
}
footer .footer-button {
    background-color: var(--background);
    font-size: 1.1rem;
    margin: 0px;
    padding: 8px 20px;
    border: 0px solid white;
    border-radius: 4px;
    text-decoration: none;
}
footer #fivetwelve {
    content: url("https://512kb.club/assets/images/green-team.svg");
}
footer #fivetwelvea {
    display: flex;
}

/* Footer content small screen fix */

footer #nav1::before {
    content: "Open ";
}
footer #nav1::after {
    content: " Page";
}
footer #nav2::before {
    content: "Open ";
}
footer #nav2::after {
    content: " Page";
}
@media (max-width: 55em) {
    footer #fivetwelve {
        content: url("https://512kb.club/assets/images/green-team.gif");
    }
}
@media (max-width: 45em) {
    footer #nav1::before {
        content: "";
    }
    footer #nav1::after {
        content: "";
    }
    footer #nav2::before{
        content: "";
    }
    footer #nav2::after {
        content: "";
    }
    footer .footer-button {
        font-size: 0.7rem;
    }
}
